    h1,h2{
        font-family: "Sofia";
        font-size: 50;
        color:rgb(0, 139, 93);
        background-color: rgba(132, 212, 163, 0.747);
    }
    div{background-color: rgba(132, 212, 163, 0.747);}
    body{
        background-color: rgb(177, 219, 196);
        align-content: center;
    }
    p{
        color:rgb(89, 150, 126);
        background-color: rgba(165, 228, 180, 0.747);
        font-size: 22;
    }
    a{
        font-size: 24;
        color: rgb(0, 139, 116);
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(89, 150, 126);
    }
    
    li {
      float: left;
    }
    li a {
      display: block;
      color: rgb(5, 36, 21);
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: rgba(136, 219, 170, 0.918);
    }
  